{% extends "base.html" %}

{% block title %} MyMoney - Budgets {% endblock %}

{% block content %}

<div class="flex two">
  <div>
    <article class="card">
      <header>
        This monthly banalce
      </header>
      <section>$ 321.32</section>
    </article>
  </div>

  <div>
    <article class="card">
      <header>Monthly flow</header>
      <section></section>
    </article>
  </div>

  <div>
    <article class="card">
      <header>Latest Transactions</header>
      <section>
        {% include 'dashboard/transaction.html' %}
        {% include 'dashboard/transaction.html' %}
        {% include 'dashboard/transaction.html' %}
        {% include 'dashboard/transaction.html' %}
      </section>
    </article>
  </div>

  <div>
    <article class="card">
      <header>Spending per category</header>
      <section></section>
    </article>
  </div>
</div>


{% endblock %}
