{% extends "base/private.html" %}

{% block title %} MyMoney - Budgets {% endblock %}

{% block content %}

<div class="balance flex three">
  <div>
    <article class="card">
      <header>
        This monthly banalce
      </header>
      <section>
        <span class="label">{{total}} PLN</span>
      </section>
    </article>
  </div>

  <div>
    <article class="card">
      <header>
        Total income
      </header>
      <section>
        <span class="label success">{{total_income}} PLN</span>
      </section>
    </article>
  </div>

  <div>
    <article class="card">
      <header>
        Total expanses
      </header>
      <section>
        <span class="label error">{{total_expenses}} PLN</span>
      </section>
    </article>
  </div>

</div>

<div class="flex">
  <div>
    <article class="card">
      <header>Monthly flow</header>
      <section>
        <!-- [TODO]: Add here line chart-->
        {% include 'dashboard/flow.html' with transactions_flow=transactions_flow %}
      </section>
    </article>
  </div>
</div>

<div class="flex two">
  <div>
    <article class="card">
      <header>Latest Transactions</header>
      <section>
        {% for transaction in latest_transactions %}
          {% include 'dashboard/transaction.html' with transaction=transaction %}
        {% endfor %}
      </section>
    </article>
  </div>

  <div>
    <article class="card">
      <header>Spending per category</header>
      <section>
        <!-- [TODO]: Add donaut chart here  -->
        {% include 'dashboard/per_category.html' with groups=transactions_per_category %}
      </section>
    </article>
  </div>
</div>


{% endblock %}
