<li class="flex">
  <div>
    {% if transaction.transaction__category__icon %}
      {{transaction.transaction__category__icon}}
    {% else %}
      🥖
    {% endif %}
  </div>
  <div class="three-fifth">
    <h5>
      {% if transaction.transaction__category__name %}
        {{transaction.transaction__category__name}}
      {% else %}
        No Category
      {% endif %}
    </h5>
    <h6>
      {% if transaction.transaction__description %}
        {{transaction.transaction__description}}
      {% endif %}
    </h6>
  </div>
  <div>
    {{transaction.transaction__amount}}
  </div>
</li>
