<div class="card">
  <section>
    <div class="flex">
      <div>
        {% if transaction.icon %}
          {{transaction.icon}}
        {% else %}
          🥖
        {% endif %}
      </div>
      <div class="three-fifth">
        <h5>
          {% if transaction.name %}
            {{transaction.name}}
          {% else %}
            No Category
          {% endif %}
        </h5>
        <h6>
          {% if transaction.description %}
            {{transaction.description}}
          {% endif %}
        </h6>
      </div>
      <div>
        {{transaction.amount}}
      </div>
    </div>
  </section>
</div>

