<form
  id="transaction_add"
  hx-target="#transactions"
  hx-swap="afterbegin"
  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  hx-post="{% url 'budget:transaction_add' budget_id=budget_id %}">

  <div>
    <label for="amount">Amount</label>
    <input id="amount" name="amount" placeholder="0.00">
  </div>

  <div>
    <label for="desc">Description</label>
    <textarea form="transaction_add" id="desc" name="desc" placeholder="transaction description..."></textarea>
  </div>

  <button type="submit">Add Transaction</button>
</form>
