{% include "shared/message.html" %}

<form id="transaction_add" action="{% url 'budget:transaction_add' budget_id=budget_id %}" method="post">
  {% csrf_token %}
  <div>
    <label for="amount">Amount</label>
    <input id="amount" name="amount" placeholder="0.00">
  </div>

  <div>
    <label id="is_expense">Is Expense</label>
    <input type="checkbox" value="true" id="is_expense" name="is_expense">
  </div>

  <div>
    <label for="desc">Description</label>
    <textarea form="transaction_add" id="desc" name="desc" placeholder="transaction description..."></textarea>
  </div>

  <button type="submit">Add Transaction</button>
</form>

