{{ define "content" }}

<h1>
  Login Page
</h1>

<div hx-ext="response-targets">
  <div id="err"></div>
  <form enctype="multipart/form-data" hx-replace-url="true" hx-post="/signin" hx-target="body" hx-target-error="#err">
    <div>
      <label for="email">Email</label>
      <input 
        id="email"
        name="email" 
        placeholder="Email..."
        required
      />
    </div>
    <div>
      <label for="pass">Password</label>
      <input 
        id="pass"
        name="password"
        placeholder="Password..."
        required
        type="password"
      />
    </div>
    <button type="submit">Login</button>
  </form>
</div>

{{ end }}
