body,
html {
  margin: 0;
  padding: 0;
  background: var(--color-light-blue);
  font-size: var(--font-s-base);
  font-family: 'Mulish', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
}

.main {
  width: 100%;
  padding: 25px;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
