body,
html {
  margin: 0;
  padding: 0;
  background: var(--color-light-blue);
}

* {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

body {
  display: flex;
}

.main {
  width: 100%;
  padding: 25px;
  height: 100vh;
}
