.aside {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 40px 25px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & a {
    text-decoration: none;
    font-weight: 800;
    font-size: 17px;
    color: inherit;
  }

  & svg {
    fill: inherit;
  }
}

/* LOGO */
.logo {
  margin: 20px 0 40px;
}

.logo-link {
  padding: 25px;
}

/* NAV */
.nav {
  margin: 20px 0;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 20px;
  border-radius: 5px;
  color: #A1A0BD;
  fill: #A1A0BD;

  &:hover {
    background: #E4E3FF;
    color: #4C49ED;
    fill: #4C49ED;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.nav-link-icon {
  height: 24px;
  width: 24px;
  margin-right: 15px;
  fill: inherit;
}

.nav-link {
  padding: 15px 25px;
  display: flex;
  align-items: center;
}

/* MAIN NAV */
.main-nav {
  border-bottom: 1px solid #E0DFF0;
  padding-bottom: 25px;
}

/* LOGOUT */
.logout {
  color: #CCCBD8;
  fill: #CCCBD8;

  &:hover {
    color: #4C49ED;
    fill: #4C49ED;
  }
}

.logout-link {
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

.logout-icon {
  margin-right: 10px;
  height: 25px;
  width: 25px;
  padding: 5px;
}
