.card {
  border-radius: 20px;
  background: var(--color-white);
  padding: 25px;
  box-shadow: 8px 13px 44px -6px #DFDBF6;
}

.card-title {
  font-size: var(--font-s-m);
  font-weight: var(--font-w-900);
  color: var(--color-black);
}

.card-content {
  margin-top: 25px;
}
