{% block content %}

<form action="{% url 'accounts:register_user' %}" method="POST">
  {% csrf_token %}
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <p>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </div>
  <div>
    <label for="passowrd">Passowrd</label>
    <input type="password" name="password" id="password">
    <p>
      Your password can’t be too similar to your other personal information.<br />
      Your password must contain at least 8 characters.<br />
      Your password can’t be a commonly used password.<br />
      Your password can’t be entirely numeric.
    </p>
  </div>
  <div>
    <label for="passowrd">Passowrd confirmation</label>
    <input type="password" name="password_confirmation" id="password_confirmation">
    <p>Enter the same password as before, for verification.</p>
  </div>



  <button type="submit">Register</button>
</form>

<div class="border-top pt-3">
  Need An Account? <a href="{% url 'accounts:signup' %}">Sign Up Now</a>
</div>

{% endblock content %}
