{% extends "base/private.html" %}

{% block title %}MyMoney - {{budget.name}} {% endblock title %}

{% block content %}

<p>{{budget.name}}</p>

{% include 'shared/message.html' %}

<!--- Share to user --->
<hr />
<form method="post" action="{% url 'budget:budget_share' budget.id %}">
  {% csrf_token %}
  <select name="share_to" id="share_to">
    <option value="1">Admin</option>
    <option value="2">User 1</option>
    <option value="3">User 2</option>
  </select>
  <button type="submit">Share budget</button>
</form>
<hr />

{% if budget.shared_to.all %}
  {% include 'budget/budget-shared-with.html' with budget=budget %}
{% endif %}

<h2>Transactions</h2>

{% include 'transaction/transaction-add.html' with budget_id=budget.id %}

<div id="transactions">
  {% for transaction in budget.transaction_set.all %}
    {% include 'transaction/transaction-list-item.html' with transaction=transaction %}
  {% endfor %}
</div>


{% endblock %}
